h1 {
    color: blue;
}

p {
    font-size: 16px;
    color: brown;
    text-align: justify;
}

#welcome {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

body {
    background-color: #f0f0f0;
}
