body {
    background-color: rgb(255, 255, 255);
}

/* All paragraphs */
p {
    font-style: italic;
    font-size: 20px;
    font-family: cursive;
    color: rgb(220, 103, 19);
}

/* Paragraph with id="para2" */
#para2 {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}

/* Paragraph with id="para3" */
#para3 {
    color: rgb(73, 234, 73);
    font-size: 25px;
    background-color: rgb(135, 16, 16);
    font-family: 'Lobster', cursive;
}

/* Paragraph with id="para4" */
#para4 {
    color: rgb(3, 2, 2);
    font-size: 18px;
    border: 2px solid rgb(252, 13, 13);
    padding: 10px;
    border-radius: 5px;
 background-color: rgb(154, 202, 43);
 

}